<div id="cta" class="flex-wrap align-items-center justify-content-center">
    <div class="header">
        <h1 class="nunito-sans-bold">Quanto custa o Treino Controle 2.0?</h1>
    </div>
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <p class="poppins-semibold">Se o <strong>Treino CONTROLE 2.0</strong> fosse um tratamento convencional com um médico, e somando:</p>
        </div>
    </div>
    <div class="row list">
        <div class="offset-md-4 col-md-6">
            <ul>
                <li>deslocamento;</li>
                <li>consulta (às vezes várias);</li>
                <li>remédios (correndo o risco de ficar refém e não solucionar o problema);</li>
            </ul>
        </div>        
    </div>
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <p class="poppins-semibold">o custo do tratamento seria de mais de 4.000 reais.</p>
        </div>
    </div>
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <p class="nunito-sans-bold">Porém o preço do Treino CONTROLE 2.0, onde você pode seguir as técnicas no conforto do seu lar, sem precisar da ajuda de ninguém e, de quebra, melhorar os resultados logo na primeira semana, é de <strong style="color: Gray;">R$ 1.099,90</strong></p>
        </div>
    </div>
    <div class="calm-down">
        <p class="nunito-sans-bold">MAS CALMA!</p>
    </div>
    <div class="row offer">
        <div class="offset-md-3 col-md-6">
            <p class="poppins-semibold header-offer">Queremos que você use e sinta os resultados do CONTROLE 2.0.<br/>Para isso, abrimos uma promoção com desconto para quem comprar <strong>agora.</strong></p>
        </div>
        <div class="countdown">
            <p class="nunito-sans-bold text">A oferta expira em <span>{{ hours | number:'2.0' }}</span> horas, <span>{{ minutes | number:'2.0' }}</span> minutos e <span>{{ seconds  | number:'2.0' }}</span> segundos</p>
        </div>
        <div class="offset-md-4 col-md-4 squared">
            <p class="poppins-semibold text-offer">O <strong>Treino CONTROLE 2.0</strong>, de <span class="crossed">R$ 1.099,90</span>,</p>
            <p class="poppins-semibold text-offer">sai por <strong>APENAS</strong>&nbsp;<span class="mod">12x</span> de</p>
            <p class="nunito-sans-bold price-offer"><span class="mini">R$</span> 39,62</p>
        </div>
    </div>
    <div class="row offer">
        <div class="offset-md-4 col-md-4 squared">
            <p><button type="button" class="btn btn-success btn-lg" (click)="clicked();">QUERO O CONTROLE</button></p>
            <p>A solução definitiva para o seu problema!<br/>Livre-se da Ejaculação precoce <strong>PARA SEMPRE!</strong></p>
            <p><img src="assets/img/controle-2.0-quadrado.png" alt="Controle 2.0"></p>
        </div>
    </div>
</div>