<div id="footer" class="flex-wrap align-items-center justify-content-center">
    <p>{{currentYear}} © Todos os direitos reservados</p>
    <p>Portal SEXOLOGIA DO HOMEM - Sob Lincença de<br/>
    SSD SEXOLOGIA ONLINE LTDA<br/>
    CNPJ: 16.099.239/0001-09<br/>
    Avenida Cândido de Abreu, 381<br/>
    Curitiba - PR</p>
    <div class="row justify-content-md-center">
        <div class="col-md-2">
            <a href="https://sexosemduvida.com/politica-de-privacidade/">Privacidade</a>
        </div>
        <div class="col-md-2">
            <a href="https://sexosemduvida.com/termos-de-uso/">Termos de Uso</a>
        </div>
        <div class="col-md-2">
            <a href="https://sexosemduvida.com/contato/">Contato</a>
        </div>
    </div>
</div>

