header {
    h1 {
        margin: 0;
        font-family: "Nunito Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
        font-size: 1.6em;    
    }

    img#logo {
        width: auto;
        height: 100%;
    }
}