<div id="author" class="flex-wrap align-items-center justify-content-center">
    <div class="header">
        <h1 class="nunito-sans-bold">Sobre o autor</h1>
    </div>
    <div class="row">
        <div class="offset-md-3 col-md-3">
            <p><strong>MARLON MATTEDI</strong> é PSICÓLOGO ESPECIALISTA EM SEXUALIDADE e uma das referências no Brasil em se tratando do tema.</p>
            <ul>
                <li>Terapeuta Sexual pelo Instituto Brasileiro de Sexologia (ISEXP)</li>
                <li>Especialista em Sexualidade pela Sociedade Brasileira de Estudos em Sexualidade Humana (SBRASH)</li>
                <li>Especialista em Orientação, Terapia Sexual e de Casal pela Fundação Sexpol de Madrid/Espanha, instituto vinculado a Sociedade Européia (FES) e a Sociedade Mundial de Sexualidade Humana (WAS)</li>
            </ul>
        </div>
        <div class="col-md-3">
            <p><img src="assets/img/foto-marlon-no-sbt.png" alt="" class="img-fluid"></p>
            <p><img src="assets/img/marlon-mattedi-ric-record.png" alt="" class="img-fluid"></p>
        </div>
    </div>
</div>

