<div id="final" class="flex-wrap align-items-center justify-content-center">
    <div class="warranty">
        <h1>GARANTIA</h1>
        <p>Você tem <strong>30 dias</strong> para pedir o reembolso em caso de insatisfação</p>
        <img src="assets/img/garantia-30.png" alt="Selo de Garantia" class="img-fluid">
    </div>
    <div class="header">
        <h1 class="nunito-sans-bold">Perguntas Frequentes</h1>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-2 square">
            <h2>Como funciona a Garantia?</h2>
            <p>O CONTROLE 2.0 possui uma garantia TOTAL e COMPLETA de 30 dias. Isso significa que você pode pedir o reembolso se não ficar satisfeito, e nós devolvemos o seu dinheiro.<br/>
               <strong>Como isto é garantido?</strong><br/>
               Esta compra é feita via HOTMART, a maior plataforma de produtos digitais do país, e ela só transfere o dinheiro para nós após vencer a garantia de 30 dias.</p>
        </div>
        <div class="col-md-2 square">
            <h2>O TRATAMENTO DURA QUANTO TEMPO?</h2>
            <p>30 dias para ter resultados mais consistentes, mas você terá melhora dia a dia, desde o primeiro dia de treino.</p>
        </div>
        <div class="col-md-2 square">
            <h2>é texto ou vídeo?</h2>
            <p>O conteúdo é apresentado em vídeo-aulas e textos com os detalhes de cada exercício. Você não precisará perder tempo, são vídeos curtos, está tudo resumido, direto ao ponto.</p>
        </div>
        <div class="col-md-2 square">
            <h2>como recebo o material?</h2>
            <p>É 100% digital. Você irá acessar do seu celular ou computador. Você também receberá os dados de acesso por e-mail. O acesso é seu para sempre (vitalício).</p>
        </div>        
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-2 square">
            <h2>como vem na fatura do cartão?</h2>
            <p>O nome desta compra aparecerá na sua fatura assim: “controle20”.</p>
        </div>
        <div class="col-md-2 square">
            <h2>VOu fazer o treino sozinho ou preciso da parceira?</h2>
            <p>O passo a passo do CONTROLE 2.0 só precisa de você. É você quem vai fazer os exercícios e mudar alguns detalhes fundamentais para o controle acontecer.<br/>
            Imagine o CONTROLE 2.0 como um treino, e o sexo como um jogo. Você vai aprender durante o treino a manter sua excitação bem alta e sob controle, dentro da técnica. Então quando você for para o jogo será muito mais fácil.</p>
        </div>
        <div class="col-md-2 square">
            <h2>Pagamento único e acesso vitalício</h2>
            <p>Você só pagará uma única vez e terá acesso vitalício ao treino, incluindo as próximas edições e atualizações.</p>
        </div>
        <div class="col-md-2 square">
            <h2>Para quem é indicado?</h2>
            <p>O CONTROLE 2.0 é indicado para Homens, acima de 18 anos, que estejam descontentes com o tempo de duração antes da ejaculação.<br/>
               <strong>Aviso Legal:</strong> Este método é apenas uma orientação, e não substitui o acompanhamento profissional, de um psicólogo especialista em sexualidade humana, em caso de dúvidas. Os resultados da aplicação deste método têm mostrado um resultado muito alto e satisfatório ao longo de 20 anos. Contudo, este método não funciona em 100% dos casos.</p>
        </div>        
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-6 square">
            <img src="assets/img/icones-garantia-e-pagamentos.png" alt="Pagamentos e Garatia">
        </div>
    </div>
    <div class="row justify-content-md-center cta">
        <div class="col-md-6">
            <p><img src="assets/img/controle-2.0-quadrado.png" alt="Controle 2.0"></p>
            <p><button type="button" class="btn btn-success btn-lg" (click)="clicked();">QUERO O CONTROLE</button></p>
        </div>
    </div>
</div>