<div id="introQuestion" class="d-flex flex-wrap nunito-sans-bold align-items-center justify-content-center">
    <div class="header">
        <h1>O Pior Fantasma Para o Homem</h1>
    </div>
    <p class="poppins-regular">Toda Mulher espera que seu homem seja seu campeão. Não importa se for um compromisso para a vida ou se só por uma noite, é imperativo que o Homem faça com que aquele momento, especificamente, seja inesquecível.</p>
    <p class="poppins-regular">Toda esta pressão faz com que o Homem sinta-se inseguro no momento mais crítico da relação a dois. Bem no momento que era exigido mais dele, ele não consegue demorar o suficiente para que a parceira tenha seu orgasmo.</p>
    <p class="poppins-regular">E isso é frustrante. Isso acaba com a Auto Estima de qualquer Homem.</p>
    <p class="poppins-regular">Saber que aquela mulher, que você tanto se esforçou para que ela se abrisse na cama, está insatisfeita depois de ter confiado seu prazer a você.</p>
    <p class="poppins-regular">Viver uma vez esta situação é muito complicado para o Homem.</p>
    <p class="poppins-regular">Viver todas as vezes, é insuportável.</p>
    <p class="poppins-regular text-orange">Porém, existe uma saída.</p>
    <h2 class="emphasis nunito-sans-bold">Assista o vídeo para <strong>entender</strong> como você pode <strong>se livrar</strong> deste problema.</h2>
    <div class="d-flex flex-wrap nunito-sans-bold align-items-center justify-content-center">
        <div id="media-container">
            <img id="image" src="assets/img/thumbnail01.jpg" alt="Image" (click)="replaceWithVideo()">
        </div>
    
        <video id="vdPlayer" controls>
            <source src="assets/videos/Controle20.mp4" type="video/mp4">
            Seu browser não suporta a tag video.
        </video>
    </div>
</div>

