<div id="introQuestion" class="d-flex flex-wrap nunito-sans-bold align-items-center justify-content-center">
    <h1>Mas o que causa a ejaculação precoce?</h1>
    <p class="crimson-text-regular">Para responder esta pergunta, o <strong>Dr. MARLON MATTEDI</strong>, que é Psicólogo e Especialista em Sexualidade Humana, gravou um vídeo explicando as causas da ejaculação precoce.</p>
    <p class="emphasis crimson-text-regular">Assista o vídeo para <strong>entender melhor</strong> o problema.</p>
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GUIamgG3d-0?si=3k0av-PbnNXJPb0F&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>
