<div id="introSolution" class="flex-wrap align-items-center justify-content-center">
    <div class="header">
        <h1 class="nunito-sans-bold">Mas o que causa a ejaculação precoce?</h1>
    </div>
    <p class="poppins-regular">Para responder esta pergunta, o <strong>Dr. MARLON MATTEDI</strong>, que é Psicólogo e Especialista em Sexualidade Humana, gravou um vídeo explicando as causas da ejaculação precoce.</p>
    <h2 class="emphasis nunito-sans-bold">Assista o vídeo para saber o que ele pensa sobre o assunto.</h2>
    <div class="d-flex flex-wrap align-items-center justify-content-center video">
        <div id="media-container">
            <img id="imageSolution" src="assets/img/ReaisCausas.jpg" alt="Image" (click)="replaceWithVideo()">
        </div>
    
        <video id="vdPlayerSolution" controls>
            <source src="assets/videos/VideoVendas.mp4" type="video/mp4">
            Seu browser não suporta a tag video.
        </video>
    </div>
</div>