<div id="prova" class="flex-wrap align-items-center justify-content-center">
    <div class="header">
        <h1 class="nunito-sans-bold">O que os homens que já usaram dizem sobre o Treino CONTROLE 2.0</h1>
    </div>
    <div class="d-flex flex-wrap align-items-center justify-content-center">
        <div class="row justify-content-center">
            <div class="col-md-3 d-flex align-items-center">
                <img src="assets/img/20201126_071729_min.jpg" alt="" (click)="imgClick('assets/img/20201126_071729.jpg')">
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <img src="assets/img/Dep.-13-sem-nome_min.jpg" alt="" (click)="imgClick('assets/img/Dep.-13-sem-nome.jpg')">
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <img src="assets/img/Dep.-20-sem-nome_min.jpg" alt="" (click)="imgClick('assets/img/Dep.-20-sem-nome.jpg')">
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <img src="assets/img/Dep.-24_min.jpg" alt="" (click)="imgClick('assets/img/Dep.-24.jpg')">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3 d-flex align-items-center">
                <img src="assets/img/Dep.-11-sem-nome_min.jpg" alt="" (click)="imgClick('assets/img/Dep.-11-sem-nome.jpg')">
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <img src="assets/img/Depoimento-C2.0-2020.09.18_min.jpg" alt="" (click)="imgClick('assets/img/Depoimento-C2.0-2020.09.18.jpg')">
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <img src="assets/img/20201124_152200_min.jpg" alt="" (click)="imgClick('assets/img/20201124_152200.jpg')">
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <img src="assets/img/20201127_134854_min.jpg" alt="" (click)="imgClick('assets/img/20201127_134854.jpg')">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-3 d-flex align-items-center">
                <img src="assets/img/Dep-Aula-1-1_min.jpg" alt="" (click)="imgClick('assets/img/Dep-Aula-1-1.jpg')">
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <img src="assets/img/20201124_075847_min.jpg" alt="" (click)="imgClick('assets/img/20201124_075847.jpg')">
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <img src="assets/img/Dep.-14-sem-nome_min.jpg" alt="" (click)="imgClick('assets/img/Dep.-14-sem-nome.jpg')">
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <img src="assets/img/Dep.-21-sem-nome_min.jpg" alt="" (click)="imgClick('assets/img/Dep.-21-sem-nome.jpg')">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3 d-flex align-items-center">
                <img src="assets/img/Dep.-29-_min.jpg" alt="" (click)="imgClick('assets/img/Dep.-29-.jpg')">
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <img src="assets/img/Dep.-19-sem-nome_min.jpg" alt="" (click)="imgClick('assets/img/Dep.-19-sem-nome.jpg')">
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <img src="assets/img/depoimento-combo-gh-1_min.jpg" alt="" (click)="imgClick('assets/img/depoimento-combo-gh-1.jpg')">
            </div>
            
            <div class="col-md-3 d-flex align-items-center">
                <img src="assets/img/Dep.-23-_min.jpg" alt="" (click)="imgClick('assets/img/Dep.-23-.jpg')">
            </div>
        </div>
        <div class="row justify-content-center">    
            <div class="col-md-3 d-flex align-items-center">
                <img src="assets/img/Dep.-18_min.jpg" alt="" (click)="imgClick('assets/img/Dep.-18.jpg')">
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <img src="assets/img/Dep.-22_min.jpg" alt="" (click)="imgClick('assets/img/Dep.-22.jpg')">
            </div>    
            <div class="col-md-3 d-flex align-items-center">
                <img src="assets/img/depoimento-combo-gh-3_min.jpg" alt="" (click)="imgClick('assets/img/depoimento-combo-gh-3.jpg')">
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <img src="assets/img/depoimento-controle-20-23_min.jpg" alt="" (click)="imgClick('assets/img/depoimento-controle-20-23.jpg')">
            </div>
        </div>
        <div class="row justify-content-center">    
            <div class="col-md-3 d-flex align-items-center">
                <iframe src="https://podcasters.spotify.com/pod/show/sexo-sem-duvida/embed/episodes/Depoimento-sobre-o-CONTROLE-2-0---Lucas-e11op55/a-a5n827h" height="102px" width="300px" frameborder="0" scrolling="no"></iframe>
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <iframe src="https://podcasters.spotify.com/pod/show/sexo-sem-duvida/embed/episodes/Depoimento-sobre-o-CONTROLE-2-0-eo5i2t/a-a46rpe2" height="102px" width="300px" frameborder="0" scrolling="no"></iframe>
            </div>    
            <div class="col-md-3 d-flex align-items-center">
                <iframe src="https://podcasters.spotify.com/pod/show/sexo-sem-duvida/embed/episodes/Depoimento-sobre-o-CONTROLE-2-0-enrqhj/a-a44s7q6" height="102px" width="300px" frameborder="0" scrolling="no"></iframe>
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <iframe src="https://podcasters.spotify.com/pod/show/sexo-sem-duvida/embed/episodes/Depoimento-sobre-o-CONTROLE-2-0-euspkh/a-a589fp2" height="102px" width="300px" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</div>
@if(popupShow) {
    <div class="popup d-flex align-items-center" (click)="popupClose()">
        <img [src]="imgSource" alt="">
    </div>
}