<div id="explanation" class="flex-wrap align-items-center justify-content-center">
    <div class="header">
        <h1 class="nunito-sans-bold">Mas então, do que consiste o Treino Controle 2.0?</h1>
    </div>
    <div class="row">
        <p class="poppins-semibold offset-md-3 col-md-6">O Treino CONTROLE 2.0 é uma técnica de treino que consiste em um conjunto de exercícios que visam a redução do estresse e aumento da autoestima.</p>
        <p class="poppins-semibold offset-md-3 col-md-6">SEM REMÉDIOS, SEM SPRAYS, SEM CÁPSULAS, SEM CONTRAIR O MÚSCULO, sem ter que gastar mais nada. Você elimina A RAIZ do problema e o controle começa a aparecer em poucos dias.</p>
        <p class="poppins-semibold offset-md-3 col-md-6">O Dr. Marlon Mattedi te ensina o PASSO A PASSO que elimina a causa da ejaculação precoce, MESMO para quem tem o problema há muitos anos. Direto e focado no que dá resultado.</p>
        <p class="poppins-semibold offset-md-3 col-md-6">Sem tomar quase nada do seu tempo, repetindo simples exercícios, alguns diariamente, outros semanalmente, o problema vai desaparecendo, porque você eliminou o que causava o problema.</p>
    </div>
    <div class="row list">
        <ul role="list" class="offset-md-4 col-md-8">
            <li data-icon="☑️"><strong>SEM REMÉDIOS</strong></li>
            <li data-icon="☑️"><strong>QUALQUER PESSOA</strong> consegue fazer</li>
            <li data-icon="☑️">Acaba com o problema <strong>NA RAIZ</strong></li>
            <li data-icon="☑️">100% online</li>
            <li data-icon="☑️">Pagamento <strong>ÚNICO</strong>, acesso <strong>VITALÍCIO</strong></li>
        </ul>
    </div>
    <p class="nunito-sans-bold">O <strong>Dr. MARLON MATTEDI</strong> explica neste vídeo como funciona o Treino CONTROLE 2.0.</p>
    <div class="video d-flex flex-wrap align-items-center justify-content-center">
        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/GUIamgG3d-0?si=3k0av-PbnNXJPb0F&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>-->
        <div id="media-container">
            <img id="imageExplanation" src="assets/img/ComoFunciona.jpg" alt="Image" (click)="replaceWithVideo()">
        </div>
    
        <video id="vdPlayerExplanation" controls>
            <source src="assets/videos/Treino.mp4" type="video/mp4">
            Seu browser não suporta a tag video.
        </video>
    </div>
</div>
